html, body {
    font-size: 62.5%;
    font-family: "Noto Sans", sans-serif;
    margin: 0; 
    padding: 0; 
    width: 100%;
    height: 100%;
    /* overflow: hidden; 스크롤 숨기기 */
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

.comment-management-page {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin: 2rem 15rem 0rem 15rem;
    height: 100%;
    /* border: 0.1rem solid red; */
}

.comment-management-title {
    font-weight: bold;
    font-size: 2.5rem;
    border-bottom: 0.3rem solid black;
    width: 12rem;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.comment-management-button {
    display: flex;
    justify-content: flex-start;
    margin: 0rem 0rem 1rem 4.5rem;
}

.delete-button {
    font-size: 1.4rem;
    font-weight: bold;
    border: none;
    border-radius: 1.5rem;
    background-color: #9DD7D7;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.comment-management-search {
    border: 0.3rem solid #0B9B9B;
    border-radius: 2rem;
    margin-left: auto;
    width: 17rem;
    display: flex;
}

.comment-search-input {
    width: 100%;
    border: 0.1rem solid white;
    border-radius: 2rem;
    padding: 0.8rem;
    outline: none;
    font-size: 1.5rem;
}

.comment-search-input-image {
    padding: 0.8rem;
}

input[type="checkbox"] {
    border: 0.1rem solid #9DD7D7;
    border-radius: 2rem;
}

.comment-management-table {
    /* border: 0.1rem solid red; */
    width: 100%;
    border-collapse: collapse;
    font-size: 1.4rem;
}

.comment-management-thead-th {
    /* border: 0.3rem solid #ddd; */
    text-align: center;
    padding: 2rem 2rem;
    background-color: #EDF8F8;
}

.comment-management-td {
    padding: 1rem 1rem;
    text-align: center;
}

.comment-management-td select {
    border: 0.1rem solid #9DD7D7;
    border-radius: 2rem;
    outline: none;
    background-color: transparent;
    padding: 0.4rem 0.4rem;
    font-size: 1.4rem;
}

.comment-management-td option {
    border: none;
    border-radius: 2rem;
    outline: none;
    background-color: #EDF8F8;
    padding: 0.4rem 0.4rem;
    font-size: 1.4rem;
    appearance: none;
}

.comment-info {
    padding: 1rem 3rem;
}

.pagination {
    margin-top: 3rem;
    border: 0.1rem solid #9DD7D7;
    border-radius: 2rem;
    display: flex;
    font-size: 1.4rem;
    /* width: 36.5rem; */
    margin: 0 auto;
    margin-top: 4rem;
}

/* 버튼 스타일 통일 */
.pagination button {
    border-radius: 0rem;
    background-color: transparent; 
    border: none;
    cursor: pointer; 
    margin: 0; 
    padding: 0.5rem 1rem;
}

.pagination button:hover {
    background-color:  #0B9B9B;
}

.pagination11 button:hover {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.pagination12 button:hover {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.comment-edit {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.custom-circle-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.custom-circle-checkbox input {
    display: none;
}

.circle {
    width: 2rem;
    height: 2rem;
    border: 0.2rem solid #dddddd; 
    border-radius: 50%; 
    margin-right: 1rem; 
    position: relative;
    transition: background-color 0.3s;
}

.custom-circle-checkbox input:checked + .circle {
    background-color: #ffffff; 
    border-color: #9DD7D7;
}

.circle:after {
    content: "";
    display: none;
    position: absolute;
    left: 0.5rem; /* 체크 표시 위치 */
    top: 0.3rem;
    width: 0.6rem; /* 체크 표시 크기 */
    height: 0.8rem;
    border: solid #9DD7D7; /* 체크 표시 색상 */
    border-width: 0 0.2rem 0.2rem 0; /* 체크 표시 모양 */
    transform: rotate(45deg); /* 체크 표시 회전 */
}

.custom-circle-checkbox input:checked + .circle:after {
    display: block;
}